<div class="registration-component">
	<div class="center-block">
		<div class="center-block__info">
			<div class="center-block__info_title">
				<h1>Create Account</h1>
				<h3>Create a free salmanwap account to access all articles and videos.</h3>
			</div>
			<div class="center-block__info_input-fields">
				<div class="center-block__info_input-fields_login">
					<label for="login">Username</label>
					<input type="text" placeholder="Enter your username" name="login" required/>
					<p>Must not contain any special characters</p>
				</div>
				<div class="center-block__info_input-fields_password">
					<label for="password">Password</label>
					<input type="password" placeholder="Enter your password" name="password" required/>
					<p>Must have atleast 8+ characters</p>
				</div>
				<button type="submit" class="center-block__info_input-fields_register-btn">Create a free account</button>
			</div>
		</div>
	</div>
</div>