<div class="registration-component">
	<div class="center-block">
		<div class="center-block__info">
			<div class="center-block__info_title">
				<h1 i18n="Reagistratin header | create account header">Create Account</h1>
				<h3 i18n="Registration subheader | create account subheader">Create a free salmanwap account to access all articles and videos.</h3>
			</div>
			<div class="center-block__info_input-fields">
				<div class="center-block__info_input-fields_login">
					<label for="login" i18n="username label | username label">Username</label>
					<input type="text" placeholder="Enter your username" name="login" required/>
					<p i18n="err msg | err msg">Must not contain any special characters</p>
				</div>
				<div class="center-block__info_input-fields_password">
					<label for="password" i18n="psw label | psw label">Password</label>
					<input type="password" placeholder="Enter your password" name="password" required/>
					<p i18n="psw err msg | psw err msg">Must have atleast 8+ characters</p>
				</div>
				<button type="submit" class="center-block__info_input-fields_register-btn" i18n="create acc btn | create acc btn">Create a free account</button>
			</div>
		</div>
	</div>
</div>