<div *ngIf="hero">
	<h2 appTextModificator selectedText="new text" [selectedBackColor]="'pink'" >{{hero.name | uppercase}} Details</h2>
	<div appTextModificatorHost selectedText="host text" [selectedBackColor]="'lime'"><span>id: </span>{{hero.id}}</div>
	<div>
	  <label appRainbowModificator for="hero-name">Hero name: </label>
	  <mat-form-field>
		  <input matInput id="hero-name" [(ngModel)]="hero.name">
	  </mat-form-field>
	  
	</div>  
</div>
<button mat-raised-button color="primary" type="button" (click)="save()">save</button>