<div class="page-wrapper">
	<div class="page">
		<p>Мистер Дурсль потряс головой и попытался выбросить из нее кошку. И пока его автомобиль ехал к Лондону из пригорода, мистер Дурсль думал о крупном заказе на дрели, который рассчитывал сегодня получить.</p>
		<div class="img-wrapper">
			<img src="../../../assets/kids-in-front-of-cap.jpg" alt="Первоклассники рязанской школы №35">
		</div>
		<p>Но когда он подъехал к Лондону, заполнившие его голову дрели вылетели оттуда в мгновение ока, потому что, попав в обычную утреннюю автомобильную пробку и от нечего делать глядя по сторонам, мистер Дурсль заметил, что на улицах появилось множество очень странно одетых людей. Людей в мантиях. Мистер Дурсль не переносил людей в нелепой одежде, да взять хотя бы нынешнюю молодежь, которая расхаживает черт знает в чем! И вот теперь эти, нарядившиеся по какой-то дурацкой моде.</p>
		<p>Мистер Дурсль забарабанил пальцами по рулю. Его взгляд упал на сгрудившихся неподалеку</p>
	</div>
</div>