// @import '~@angular/material/theming';
// @include mat-core();

h1 {
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
}

h2, h3 {
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
}

body {
	margin: 0;
}

body, input[type="text"], button {
	color: #333;
	font-family: Cambria, Georgia, serif;
}

/* everywhere else */
* {
	font-family: Arial, Helvetica, sans-serif;
}
  

.page-wrapper {
	width: 843px;
	margin: 0 auto;
}

.page {
	margin: 24px 40px;
	height: 500px;
}

.img-wrapper {
	display: flex;
	flex-direction: row;
	/* height: 500px; */
}

.img-wrapper p {
	margin-left: 10px;
}

p {
	text-indent: 15px;
	margin: 0;
}

.img-wrapper img {
	max-width: 100%;
	max-height: 100%;

}

html, body { height: 100%; }

.anim-text-flow {
	background: linear-gradient(
	  to right,
	  #6666ff,
	  #0099ff,
	  #00ff00,
	  #ff3399,
	  #6666ff
	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	animation: rainbow_animation 50s ease-in-out infinite;
	background-size: 400% 100%;
  }
  
  @keyframes rainbow_animation {
	@for $i from 0 through 20 {
	  #{percentage($i * (1 / 20))} {
		color: hsla(random(365), 60, 60, 1);
	  }
	}
  }

  @for $i from 1 through 100 {
	span:nth-of-type(#{$i}) {
	  animation-delay: #{20 - ($i * 0.2)}s;
	}
  }