// @import '~@angular/material/theming';
// @include mat-core();

h1 {
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
}

h2, h3 {
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
}

body {
	margin: 0;
}

body, input[type="text"], button {
	color: #333;
	font-family: Cambria, Georgia, serif;
}

/* everywhere else */
* {
	font-family: Arial, Helvetica, sans-serif;
}
  

.page-wrapper {
	width: 843px;
	margin: 0 auto;
}

.page {
	margin: 24px 40px;
	height: 500px;
}

.img-wrapper {
	display: flex;
	flex-direction: row;
	/* height: 500px; */
}

.img-wrapper p {
	margin-left: 10px;
}

p {
	text-indent: 15px;
	margin: 0;
}

.img-wrapper img {
	max-width: 100%;
	max-height: 100%;

}

html, body { height: 100%; }

.anim-text-flow {
	background: linear-gradient(
		to right,
		rgba(92, 200, 214, 1),
		rgba(92, 214, 106, 1),
		rgba(92, 100, 214, 1),
		rgba(214, 169, 92, 1),
		rgba(92, 214, 131, 1),
		rgba(192, 214, 92, 1),
		rgba(92, 116, 214, 1),
		rgba(214, 92, 149, 1),
		rgba(214, 92, 153, 1),
		rgba(92, 96, 214, 1),
		rgba(214, 92, 131, 1),
		rgba(92, 171, 214, 1),
		rgba(92, 214, 200, 1),
		rgba(214, 92, 200, 1),
		rgba(214, 92, 151, 1),
		rgba(145, 92, 214, 1),
		rgba(104, 214, 92, 1),
		rgba(106, 214, 92, 1),
		rgba(214, 92, 104, 1),
		rgba(92, 106, 214, 1),
		rgba(214, 92, 169, 1)

	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	animation: anim-text-flow-keys 30s ease-in-out infinite;
	background-size: 400% 100%;
  }
  
  @keyframes anim-text-flow-keys {
	0%,	100% {
	  background-position: 0 0;
	}
  
	50% {
	  background-position: 100% 0;
	}
  }

//   @keyframes anim-text-flow-keys {
// 	0% {
// 		background-position: 0 0;
// 		color: rgba(92, 200, 214, 1);
//    }
// 	5% {
// 		color: rgba(92, 214, 106, 1);
//    }
// 	10% {
// 		color: rgba(92, 100, 214, 1);
//    }
// 	15% {
// 		color: rgba(214, 169, 92, 1);
//    }
// 	20% {
// 		color: rgba(92, 214, 131, 1);
//    }
// 	25% {
// 		color: rgba(192, 214, 92, 1);
//    }
// 	30% {
// 		color: rgba(92, 116, 214, 1);
//    }
// 	35% {
// 		color: rgba(214, 92, 149, 1);
//    }
// 	40% {
// 		color: rgba(214, 92, 153, 1);
//    }
// 	45% {
// 		color: rgba(92, 96, 214, 1);
//    }
// 	50% {
// 		background-position: 100% 0;
// 		color: rgba(214, 92, 131, 1);
//    }
// 	55% {
// 		color: rgba(92, 171, 214, 1);
//    }
// 	60% {
// 		color: rgba(92, 214, 200, 1);
//    }
// 	65% {
// 		color: rgba(214, 92, 200, 1);
//    }
// 	70% {
// 		color: rgba(214, 92, 151, 1);
//    }
// 	75% {
// 		color: rgba(145, 92, 214, 1);
//    }
// 	80% {
// 		color: rgba(104, 214, 92, 1);
//    }
// 	85% {
// 		color: rgba(106, 214, 92, 1);
//    }
// 	90% {
// 		color: rgba(214, 92, 104, 1);
//    }
// 	95% {
// 		color: rgba(92, 106, 214, 1);
//    }
// 	100% {
// 		background-position: 0 0;
// 		color: rgba(214, 92, 169, 1);
//    }
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
